.boton{
    background: #414042;
    height: 35px;
    width: 200px;
    color: white;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 13px;
}

.boton-red{
    background: #C90E2D;
    height: 35px;
    width: 200px;
    color: white;
    border-radius: 8px;
    font-size: 13px;
    font-family: Roboto;
}