<!-- Page Header Start-->
<div class="page-main-header" [ngClass]="{'open' : navServices.collapseSidebar}" id="page-main-header">
  <div class="main-header-right row">
    <div class="main-header-left d-lg-none">
      <!-- <div class="logo-wrapper"><a href="javascript::void(0)"><img src="assets/images/endless-logo.png" alt=""></a>
      </div> -->
    </div>
    <div class="mobile-sidebar">
      <!-- <div class="media-body text-right switch-sm">
        <label class="switch">
          <a href="javascript:void(0)" (click)="collapseSidebar()">
            <app-feather-icons id="sidebar-toggle" [icon]="'align-left'"></app-feather-icons>
          </a>
        </label>
      </div> -->
    </div>
    <div class="nav-right col">
      <!-- <button class="btn boton" (click)="goNotifications()">NOTIFICACIONES PUSH</button> &nbsp; -->
      <button class="btn boton-red">CERRAR SESIÓN</button>
    </div>
  </div>
</div>
<!-- Page Header Ends -->