<div class="container-fluid">
  <!-- <div class="row"> -->
  <img src="assets/imgs/bg.png" alt="login image" class="login-img">

  <div class="margin">
    <br>
    <div class="row">
      <mat-tab-group>
        <mat-tab label="Resultados"> Resultados </mat-tab>


        <mat-tab label="Noticias" *ngIf="user.membership==1"> 

          <mat-form-field appearance="fill" style="width: 300PX;">
            <mat-label>Desea ver todas o de equipos favoritos?</mat-label>
            <mat-select [(ngModel)]="filtro" name="reporte" ngDefaultControl (selectionChange)="getdata()">
              <mat-option  value="0"  >
                Todos
              </mat-option>
              <mat-option  value="1"  >
                Favoritos
              </mat-option>
            </mat-select>
          </mat-form-field>

            <table class="table table-striped">
              <thead>
              <tr>
    
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">fecha</th>
                <th scope="col">Equipo</th>
    
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let noticia of noticias">
                
                <th scope="row">{{ noticia.title }}</th>
                <td>
                  {{ noticia.description}}
                </td>
                <td>{{ noticia.date}}</td>
                <td>{{ noticia.team}}</td>
    
              </tr>
              </tbody>
            </table>

        </mat-tab>
        <mat-tab label="Consulta Datos Estadisticos" *ngIf="user.membership==1"> Consulta Datos Estadisticos 
          <app-datos-estadisticos>
          </app-datos-estadisticos>

        </mat-tab>

        <mat-tab label="Predicción" *ngIf="user.membership==1"> 
          <mat-form-field appearance="outline" class="center">
            <mat-label>Equipo Local </mat-label>
            <mat-select  id="id_teams" [(ngModel)]="equipo1">
              <mat-option *ngFor="let equipo of equipos" [value]="equipo.id">
                {{equipo.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="center">
            <mat-label>Equipo Visitante </mat-label>
            <mat-select  id="id_teams" [(ngModel)]="equipo2">
              <mat-option *ngFor="let equipo of equipos" [value]="equipo.id">
                {{equipo.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="predict()">Predecir Resultado</button>
          <h1>Resultado:</h1> <p *ngIf="result">Local:{{result.homeGoals}} Visitante: {{result.awayGoals}}</p>
        </mat-tab>
      </mat-tab-group>
    </div>





    <!-- <div class="row">
      <div (click)="goCategories()" class="col-2 boxi" (mouseover)="imgCat=true" (mouseout)="imgCat=false">
        <img *ngIf="!imgCat" src="assets/imgs/home_cat.svg" alt="" class="boxes">
        <img *ngIf="imgCat" src="assets/imgs/home_catRed.svg" alt="" class="boxes">
      </div>
      <div (click)="goMultimedia()" class="col-2 boxi" (mouseover)="imgBrand=true" (mouseout)="imgBrand=false">
        <img *ngIf="!imgBrand" src="assets/imgs/home_brand.svg" alt="" class="boxes">
        <img *ngIf="imgBrand" src="assets/imgs/home_brandRed.svg" alt="" class="boxes">
      </div>
      <div (click)="goProducts()" class="col-2 boxi" (mouseover)="imgProd=true" (mouseout)="imgProd=false">
        <img *ngIf="!imgProd" src="assets/imgs/home_prod.svg" alt="" class="boxes">
        <img *ngIf="imgProd" src="assets/imgs/home_prodRed.svg" alt="" class="boxes">
      </div>
      <div class="col-2 boxi" (mouseover)="imgImport=true" (mouseout)="imgImport=false">
        <img *ngIf="!imgImport" src="assets/imgs/home_import.svg" alt="" class="boxes">
        <img *ngIf="imgImport" src="assets/imgs/home_importRed.svg" alt="" class="boxes">
      </div>
    </div> -->


    <!-- <div class="row"> -->
    <!-- <div (click)="goSelection()" class="col-2 boxi" (mouseover)="imgSel=true" (mouseout)="imgSel=false">
        <img *ngIf="!imgSel" src="assets/imgs/home_sel.svg" alt="" class="boxes2">
        <img *ngIf="imgSel" src="assets/imgs/home_selRed.svg" alt="" class="boxes2">
      </div>
      <div (click)="goValue()" class="col-2 boxi" (mouseover)="imgValor=true" (mouseout)="imgValor=false">
        <img *ngIf="!imgValor" src="assets/imgs/home_valor.svg" alt="" class="boxes2">
        <img *ngIf="imgValor" src="assets/imgs/home_valorRed.svg" alt="" class="boxes2">
      </div> -->
    <!-- <div (click)="goUsers()" class="col-2 boxi" (mouseover)="imgUser=true" (mouseout)="imgUser=false">
        <img *ngIf="!imgUser" src="assets/imgs/home_user.svg" alt="" class="boxes2">
        <img *ngIf="imgUser" src="assets/imgs/home_userRed.svg" alt="" class="boxes2">
      </div> -->
    <!-- <div (click)="goBackup()" class="col-2 boxi" (mouseover)="imgBack=true" (mouseout)="imgBack=false">
        <img *ngIf="!imgBack" src="assets/imgs/home_back.svg" alt="" class="boxes2">
        <img *ngIf="imgBack" src="assets/imgs/home_backRed.svg" alt="" class="boxes2">
      </div> -->
    <!-- </div> -->

  </div>

  <!-- <div class="col-sm-1"></div>
    <div class="box col-sm-2" (click)="goCategories()">
      <img src="assets/home/categorias.svg" alt="" class="icon">
      <label class="label2 col-auto">Categorías</label>
    </div>
    <div class="box col-sm-2" (click)="goProducts()">
      <img src="assets/home/productos.svg" alt="" class="icon">
      <label class="label2 col-auto">Productos</label>
    </div>
    <div class="box col-sm-2">
      <img src="assets/home/importar.svg" alt="" class="icon">
      <label class="label col-auto">Importar Productos</label>
    </div>
    <div class="box col-sm-2">
      <img src="assets/home/seleccion.svg" alt="" class="icon">
      <label class="label2 col-auto">Selección</label>
    </div>

    <br>
    <div class="col-sm-1 row"></div>
    <div class="col-sm-1 row"></div>
    <div class="box2 col-sm-2" (click)="goMultimedia()">
      <img src="assets/home/multimedia.svg" alt="" class="icon">
      <label class="label2 col-auto">Marcas</label>
    </div>
    <div class="box2 col-sm-2">
      <img src="assets/home/valor.svg" alt="" class="icon">
      <label class="label col-auto">Valor Agregado</label>
    </div>
    <div class="box2 col-sm-2" (click)="goUsers()">
      <img src="assets/home/usuarios.svg" alt="" class="icon">
      <label class="label2 col-auto">Usuarios</label>
    </div>
    <div class="box2 col-sm-2">
      <img src="assets/home/backup.svg" alt="" class="icon">
      <label class="label2 col-auto">Backup</label>
    </div> -->

  <!-- </div> -->
  <!-- <label class="copy">© Copyright Hivimar Industrial. Todos los Derechos Reservados. Desarrollado por FLY Casa Creativa.</label> -->
</div>