<form [formGroup]="RegistroForm" autocomplete="off" novalidate (ngSubmit)="submit(RegistroForm.value)" class="content">
  <mat-card-content>
    <div class="center margin-dark" style="display:flex;flex-flow: column;">

      <mat-form-field appearance="outline" class="center">
        <mat-label>Nombres: </mat-label>
        <input matInput type="text" placeholder="Nombre" formControlName="first_name" id="first-name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="center">
        <mat-label>Apellidos: </mat-label>
        <input matInput type="text" placeholder="Apellido" formControlName="last_name" id="last-name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="center">
        <mat-label>Contraseña </mat-label>
        <input matInput type="password" placeholder="Contraseña" formControlName="pass" id="pass">
      </mat-form-field>

      <mat-form-field appearance="outline" class="center">
        <mat-label>Confirmar Contraseña </mat-label>
        <input matInput type="password" placeholder="Confirmar Contraseña" formControlName="confirmpass"
          id="confirm-pass">
      </mat-form-field>

      <mat-form-field appearance="outline" class="center">
        <mat-label>Genero </mat-label>
        <mat-select formControlName="id_pais" id="pais">
          <mat-option *ngFor="let gen of genero" [value]="gen.id">
            {{gen.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline" class="center">
        <mat-label>Fecha Nacimiento </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha_nac">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field appearance="outline" class="center">
        <mat-label>Dirección </mat-label>
        <textarea matInput id="direccion" formControlName="direccion" placeholder="Dirección"
          formControlName="direccion">
       </textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="center">
        <mat-label>Pais </mat-label>
        <mat-select formControlName="gender" id="genero">
          <mat-option *ngFor="let gen of genero" [value]="gen.id">
            {{gen.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline" class="center">
        <mat-label>Edad </mat-label>
        <input matInput type="number" placeholder="Edad" formControlName="age"
          id="age">
      </mat-form-field>

 




    </div>
  </mat-card-content>
</form>