<form [formGroup]="registroForm">

    <label for="first-name">Nombres: </label>
    <input id="first-name" type="text" formControlName="first_name">
  
    <label for="last-name">Apellidos: </label>
    <input id="last-name" type="text" formControlName="last_name">

    <label for="pass">Contraseña: </label>
    <input id="pass" type="text" formControlName="pass">
    
    <label for="pass">Confirmar Contraseña: </label>
    <input id="pass" type="text" formControlName="pass">
    
    <label for="last-name">Apellidos: </label>
    <input id="last-name" type="text" formControlName="last_name">

    <label for="last-name">Apellidos: </label>
    <input id="last-name" type="text" formControlName="last_name">

    <label for="last-name">Apellidos: </label>
    <input id="last-name" type="text" formControlName="last_name">

    <label for="last-name">Apellidos: </label>
    <input id="last-name" type="text" formControlName="last_name">

    <label for="last-name">Apellidos: </label>
    <input id="last-name" type="text" formControlName="last_name">

    <label for="last-name">Apellidos: </label>
    <input id="last-name" type="text" formControlName="last_name">
  
  </form>