
  
    <form [formGroup]="RegistroForm" autocomplete="off" novalidate (ngSubmit)="submit(RegistroForm.value)" class="content">
        <div>
            <img style="float: right;" [src]="imagePath">
        </div> 
        
        <mat-card-content>
          <div class="center margin-dark" style="display:flex;flex-flow: column;">
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Nombres: </mat-label>
              <input  matInput type="text" placeholder="Nombre" formControlName="name" id="first-name">
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Apellidos: </mat-label>
              <input  matInput type="text" placeholder="Apellido" formControlName="lastname" id="last-name">
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Email: </mat-label>
              <input  matInput type="email" placeholder="Email" formControlName="email" id="email">
            </mat-form-field>
      
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Genero </mat-label>
              <mat-select formControlName="gender" id="gender">
                <mat-option *ngFor="let gen of genero" [value]="gen.id">
                  {{gen.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Fecha Nacimiento </mat-label>
              <input  matInput [matDatepicker]="picker" formControlName="birth_date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Dirección </mat-label>
              <textarea  matInput id="address" formControlName="address" placeholder="Dirección"
                formControlName="address">
             </textarea>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Pais </mat-label>
              <mat-select formControlName="id_country" id="id_country">
                <mat-option *ngFor="let pais of paises" [value]="pais.id">
                  {{pais.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="center" *ngIf="rol=='1'">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="id_estado" id="id_estado">
                <mat-option *ngFor="let estado of estados" [value]="estado.id">
                  {{estado.Estado}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="outline" class="center">
              <mat-label>Teléfono </mat-label>
              <input  matInput type="tel" placeholder="Teléfono" formControlName="phone" id="phone">
            </mat-form-field>
      
      
            <mat-label class="margenes">Foto de perfil </mat-label>
            <input  
            formControlName="photo"
            id="file" 
            type="file" 
            class="form-control margenes"
            (change)="onFileChange($event)">
           
            <br />
      
            <button mat-flat-button color="primary" type="submit" class="form-control">Editar mi perfil </button>
            <button mat-flat-button color="primary" (click)="tomembresia()" class="form-control">Membresia </button>
          </div>
        </mat-card-content>
      </form>
      