<div class="container">
  <div class="row">
    <div class="col">
      <h1>Noticias</h1>
    </div>
    
  </div>

  <div class="row">
      
          <button type="button" class="btn btn-primary col-md-2 offset-md-10" style="display: block;float: right;" (click)="isOpen=true">Agregar Noticia</button>
          <br/>
          <br/>
          <button type="button" class="btn btn-danger col-md-2 offset-md-10" style="display: block;float: right;" (click)="isOpen=false" *ngIf="isOpen">Cerrar formulario</button>
      
  </div>
 
  <form [formGroup]="Form" autocomplete="off" novalidate (ngSubmit)="submit(Form.value)" class="content" *ngIf="isOpen">
    <mat-card-content>
      <div class="center margin-dark" style="display:flex;flex-flow: column;">
  
        <mat-form-field appearance="outline" class="center">
          <mat-label>titulo: </mat-label>
          <input matInput type="text" placeholder="titulo" formControlName="title" id="titulo">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="center">
          <mat-label>Descripcion: </mat-label>
          <input matInput type="text" placeholder="Descripcion" formControlName="description" id="descripcion">
        </mat-form-field>


  
        <mat-form-field appearance="outline" class="center">
          <mat-label>Equipo </mat-label>
          <mat-select formControlName="id_team" id="id_teams">
            <mat-option *ngFor="let equipo of equipos" [value]="equipo.id_equipo">
              {{equipo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
       
        <br />  
        <button mat-flat-button color="primary" type="submit" class="form-control">Aceptar </button>
  
      </div>
    </mat-card-content>
  </form>

  <br/>
  <div class="row">
      <table class="table table-striped">
          <thead>
          <tr>

            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">fecha</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let noticia of noticias">
            
            <th scope="row">{{ noticia.titulo }}</th>
            <td>
              {{ noticia.descripcion}}
            </td>
            <td>{{ noticia.fecha}}</td>
            <td> <button type="button" class="btn btn-secondary" (click)="editar(user,content)">Editar</button></td>
          </tr>
          </tbody>
        </table>
        
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
          </ngb-pagination>
       
        </div>
  </div>
</div>
